.uk-input, .uk-select, .uk-button {
  border-radius: 4px; }

.uk-button {
  text-transform: initial;
  font-weight: 600;
  font-size: 15px; }

.subscribed-feeds-section .subscribed-feeds-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed {
    background-color: darkgray;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed:hover {
      cursor: pointer; }
    .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed.active {
      background: #39f; }

.feed-posts-section .feed-post .uk-card:hover {
  cursor: pointer; }

#read-post-modal .uk-modal-close-full {
  position: sticky; }
  #read-post-modal .uk-modal-close-full svg {
    position: absolute;
    left: 96vw;
    top: 36px; }
