body {
  background-color: #F6FAFF;
  min-height: 100vh; }

.navbar-container {
  box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  background-color: #fff; }

.uk-navbar {
  background: #fff !important;
  background-color: #fff !important; }

.uk-input, .uk-select, .uk-button {
  border-radius: 4px; }

.uk-button {
  text-transform: initial;
  font-weight: 600;
  font-size: 15px; }
  .uk-button .loading-bar {
    width: 20px;
    height: 20px;
    margin: 9px; }

.subscribed-feeds-section .subscribed-feeds-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed {
    background-color: darkgray;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed:hover {
      cursor: pointer; }
    .subscribed-feeds-section .subscribed-feeds-list .subscribed-feed.active {
      background: #39f; }

.feed-posts-section .feed-post .uk-card:hover {
  cursor: pointer; }

#read-post-modal .uk-modal-close-full {
  position: sticky; }
  #read-post-modal .uk-modal-close-full svg {
    position: absolute;
    left: 96vw;
    top: 36px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.loading-bar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid grey;
  border: .25rem solid grey;
  border-top-color: #fff;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  margin: auto; }
