.subscribed-feeds-section {
  .subscribed-feeds-list {
    display: inline-flex;
    flex-wrap: wrap;

    .subscribed-feed {
      background-color: darkgray;
      border-radius: 20px;
      padding: 5px 15px;
      color: white;
      font-weight: 600;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #39f;
      }
    }
  }
}

.feed-posts-section {
  .feed-post {
    .uk-card {
      &:hover {
        cursor: pointer;
      }

      .feed-name-badge {
        top: 8px;
        left: 30px;
        width: fit-content;
        text-transform: none;
      }

      .uk-card-body {
        padding: 35px 30px 12px;

        .post-title {
          font-size:1.2rem;
        }
      }
    }
  }
}

#read-post-modal {
  .uk-modal-close-full {
    position: sticky;

    svg {
      position: absolute;
      left: 91vw;
      top: 23px;

      @media (min-width: 768px) {
        left: 96vw;
        top: 36px;
      }
    }
  }
}