* {
  font-family: 'Work Sans', sans-serif !important;
}

body {
  background-color: #F6FAFF;
  min-height: 100vh;
}

.navbar-container {
  box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
  background-color: $white;
}

.uk-navbar {
  background: $white !important;
  background-color: $white !important;
}

.uk-input, .uk-select, .uk-button {
  border-radius: 4px;
}

.uk-button {
  text-transform: initial;
  font-weight: 600;
  font-size: 15px;

  .loading-bar {
    width: 20px;
    height: 20px;
    margin: 9px;
  }
}
