@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-bar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: .25rem solid grey;
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  margin: auto;
}